
/* INHERITANCE */

tr:nth-child(even) {
  background-color: #ddd;
}

h1 { 
  font-size: 150px;
  text-decoration: none;


}
p {
  font-size: 25px;
  text-decoration: none;


}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
